<div class="container-sm my-5">
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="/history?status=1" class="btn btn-primary" role="button">Menunggu Konfirmasi</a>
    <a href="/history?status=2" class="btn btn-primary" role="button">Diterima</a>
    <a href="/history?status=3" class="btn btn-primary" role="button">Penampilan Selesai</a>
    <a href="/history?status=4" class="btn btn-primary" role="button">Ditolak</a>
    <div class="d-grid gap-2 d-sm-block mt-2 mb-3">
      <a href="/home" class="btn btn-primary" role="button">Kembali</a>
    </div>
  </div>
</div>
