<div class="container-sm my-5">
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="#" class="btn btn-danger" role="button">Pesan Band Sekarang!</a>
    <a href="/join" class="btn btn-primary" role="button">Daftarkan Band Kamu!</a>
    <a href="#" class="btn btn-primary" role="button">Band Terdaftar</a>
    <a href="#" class="btn btn-primary" role="button">Riwayat Pesanan</a>
    <a href="#" class="btn btn-primary" role="button">Bantuan</a>
  </div>
</div>
<!-- <script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/home.css');
  head.appendChild(link);
</script> -->
