<div class="container-sm">
  <h1 class="text-center">Band telah berhasil didaftarkan!</h1>
  <p class="text-center">Tunggu email dari kami ya! maksimal 7 hari kerja</p>
  <div class="text-center">
    <a href="/" class="btn btn-danger" role="button">Kembali ke Menu Utama</a>
  </div>
</div>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/joinSuccessful.css');
  head.appendChild(link);
</script>
