<div class="container-sm my-5">
  <div class="d-grid gap-3 col-6 mx-auto">
    <a href="/register" class="btn btn-primary" role="button">Register</a>
    <a href="/login" class="btn btn-danger" role="button">LOGIN</a>
  </div>
</div>
