<div class="container-sm">
  <h1 class="text-center">Pesanan anda berhasil dikirim!</h1>
  <p class="text-center">Untuk melihat status pesanan anda, silahkan tekan Riwayat Pesanan pada Menu Utama</p>
  <div class="text-center">
    <a href="/home" class="btn btn-danger" role="button">Kembali ke Menu Utama</a>
  </div>
</div>
<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/joinSuccessful.css');
  head.appendChild(link);
</script>
