<div class="container-sm">
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <h1 class="display-6">Register</h1>
      <br />
      <form id="form" action="/api/auth/register" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" placeholder="tidak ada huruf kapital dan/atau spasi" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" placeholder="contoh: example@gmail.com" required />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="kombinasi huruf dan angka" required />
        </div>
        <button type="submit" class="btn btn-danger">Register</button>
      </form>
      <div class="d-grid gap-2 d-sm-block mt-2 mb-3">
        <a href="/" class="btn btn-primary" role="button">Kembali ke Menu Utama</a>
      </div>
    </div>
  </div>
</div>

<script>
  const head = document.querySelector('head');
  const link = document.createElement('link');
  link.setAttribute('rel', 'stylesheet');
  link.setAttribute('href', '../../public/css/join.css');
  head.appendChild(link);
</script>
